/* ImageUploadButton Component Styles */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
  padding: 20px;
  font-size: 24px;
  background-color: var(--foreground);
  color: var(--background);
  border: 1px dashed #9ca3af;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #d3d3d3;
}
