/* Login Page Styles */

.title {
  margin-top: var(--spacing-xxl);
  font-size: var(--text-xl);
  font-weight: bold;
}

.form {
  margin-top: var(--spacing-md);
  padding: var(--spacing-lg);
  background-color: var(--background-light);
  border-radius: var(--border-rad-sm);
  box-shadow: var(--shadow-md);
}

@media (min-width: 768px) {
  .form {
    width: 600px;
  }
}

.label {
  display: block;
  margin-bottom: var(--spacing-sm);
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--label);
}

.footer {
  margin-top: var(--spacing-md);
  text-align: center;
  color: var(--color-blue-grey);
}

.link {
  color: var(--color-purple-light);
}

.link:hover {
  text-decoration: underline;
  color: var(--color-purple-hover)
}
