/* IngredientInput Component Styles */

.container {
  width: 100%;
  margin-top: var(--spacing-sm);
  padding: var(--spacing-md);
  background-color: var(--background-light);
  color: var(--text-dark);
  border-radius: var(--border-rad-sm);
}

.title {
  margin-bottom: var(--spacing-sm);
  font-size: var(--text-lg);
  font-weight: 600;
}
