/* Home Page Styles */

.landingJumbo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: var(--spacing-md);
  align-items: center;
  background-color: var(--background-light);
  color: var(--text-dark);
  border-radius: var(--border-rad-sm);
  @media (min-width: 768px) {
    max-width: 50%;
    margin: auto;
    min-width: 700px;
  }
}

.landingAnimation {
  display: block;
  font-size: var(--text-4xl);
  margin-bottom: var(--spacing-sm);
  animation: gentle-bounce 2s ease-in-out infinite;
}

.ctaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  width: 100%;
  height: var(--spacing-xxl);
  padding: var(--spacing-lg);
  font-size: var(--text-lg);
  font-weight: bold;
  color: var(--text-light);
  text-decoration: none;
  background: var(--gradient-purple);
  border-radius: var(--border-rad-md);
  &:hover {
    background: var(--gradient-purple-hover)
  }
}

.ctaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
  width: 100%;
  max-width: 672px;
  margin-top: var(--spacing-md);
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-sm);
  margin: 0 var(--spacing-xl);
}

@media (min-width: 768px) {
  .features {
    flex-direction: row;
  }
}
