/* TextArea Component Styles */

.textarea {
  width: 100%;
  height: 80px;
  padding: var(--spacing-sm);
  border: var(--border-light-md);
  border-radius: var(--border-rad-sm);
  resize: none;
  font-size: var(--text-base);
  font-family: var(--font-sans);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
