/* ImagePreview Component Styles */

.container {
  position: relative;
}

.image {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border: var(--border-light-sm);
  border-radius: var(--border-rad-sm);
}
