/* ImageUploadButton Component Styles */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-lg);
  font-size: var(--text-xl);
  background-color: var(--color-purple);
  color: var(--text-light);
  border: none;
  border-radius: var(--border-rad-sm);
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--color-purple-hover);
}
