/* Header Component Styles */

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--spacing-xxl);
  padding: var(--spacing-md);
  background: var(--gradient-purple);
  border-bottom: 1px solid var(--text-light);
  a {
    text-decoration: none;
  }
}

.headerHeading {
  width: 100%;
  font-size: var(--text-lg);
  font-weight: bold;
  color: var(--text-light);

  @media (min-width: 768px) {
    font-size: var(--text-xl);
  }
}

.nav {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.userName {
  color: var(--text-light);
}

.authButton {
  padding: var(--spacing-md);
  border-radius: var(--border-rad-sm);
  border: 1px solid var(--text-light);
  background-image: var(--gradient-purple);
  color: var(--text-light);
  &:hover {
    background-image: var(--gradient-purple-hover);
  }
  cursor: pointer;
}
