/* IngredientInput Component Styles */

.container {
  width: 100%;
  margin-top: 8px;
  padding: 16px;
  background-color: white;
  color: black;
  border-radius: 6px;
}

.title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.submitButton {
  width: 100%;
  height: 48px;
  padding: 20px;
  font-size: 16px;
  color: var(--background);
  background-color: var(--foreground);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #d3d3d3;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
